@page
@model HaatWeb.Pages.IlmoModel
@{
    ViewData["Title"] = "Ilmoittautuminen";
}
<div class="text-center" style="background-color:antiquewhite; font-family:'Lucida Handwriting', cursive;font-size:22px;box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);">
    <div style="padding-top:10px;"><h1>@ViewData["Title"]</h1></div>
    <div>
        <iframe width="640px" height="900px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAEoN0wom-NUM1dUTkNJUjlUQTQ5V0hOTEJZQ0ROVkc2SS4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
    </div>
    <div>
        <p>
            <a asp-area="" asp-page="/Index" style="color:hotpink">&#10086;Takaisin etusivulle</a>
            <br />
            <br />
        </p>
    </div>
</div>