@page
@model HaatWeb.Pages.InfoModel
@{
    ViewData["Title"] = "Hääinfo";
}

<div class="text-center" style="background-color:antiquewhite; font-family:'Lucida Handwriting', cursive;font-size:22px;box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);">
        <div style="padding-top:10px;"><h1>@ViewData["Title"]</h1></div>
    <img src="images/kuva5.jpg" style="width:90%; margin-bottom:15px;box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);" />
    <div style="padding:10px;" >
        <h2>Vihkiminen</h2>
        <p>
            Helsingin tuomiokirkko
        </p>
        <p>
            Vihkitilaisuus alkaa klo 13.00.
        </p>
        <p>
                Unioninkatu 29, 00170 Helsinki
            
            </p>
        <p><a href="https://goo.gl/maps/d47tFHK8T2jwQVMN6" target="_blank" style="color:hotpink">&#10086;Kartta</a></p>
        <p>
            &#9825;&#9825;&#9825;
        </p>
        <h2>Juhlapaikka</h2>
            <p>
                Hotel Kämp
            </p>
                        <p>
                Vihkitilaisuuden jälkeen siirtyminen juhlapaikalle.
            </p>  
            <p>
                Pohjoisesplanadi 29, 00100 Helsinki
            
            </p>
        <p><a href="https://goo.gl/maps/AibGWqaH9JpmRjzi6" target="_blank" style="color:hotpink">&#10086;Kartta</a></p>
        <p>
            &#9825;&#9825;&#9825;
        </p>
        <h2>Muistaminen</h2>
        <p>Mahdollisia muistamisia toivomme häämatkatilillemme:<br />FI16 5068 0620 3317 83.</p>
        <p>
            &#9825;&#9825;&#9825;
        </p>
        <h2>Majoitus</h2>
        <p>
            Häävieraat saavat Hotel Kämpin huoneista -15% päivän hinnasta koodilla PROHEINIJAJARI<br />(4.-6.8.2023).
            
        </p>
        <p><a href="https://be.synxis.com/?Hotel=6696&Chain=24447&arrive=2023-08-04&depart=2023-08-06&adult=1&child=0&promo=PROHEINIJAJARI" target="_blank" style="color:hotpink">&#10086;Varaamaan</a></p>
        <p>
            &#9825;&#9825;&#9825;
        </p>
        <h2>Pukukoodi</h2>
        <p>Tumma puku</p>
        <p>
            &#9825;&#9825;&#9825;
        </p>
        <h2>Valokuvaus</h2>
        <p>Hääjuhlan tulee ikuistamaan ammattivalokuvaaja.</p>
        <p>
            &#9825;&#9825;&#9825;
        </p>
        <h2>Ilmoittautuminen</h2>
        <p>RSVP 30.6.2023 mennessä.</p>
        <p><a asp-area="" asp-page="/Ilmo" style="color:hotpink">&#10086;Ilmoittauminen</a></p>
        <p>Juhlimme aikuisten kesken.</p>
        <p>
            &#9825;&#9825;&#9825;
        </p>
    </div>
    <div>
        <p>
            <a asp-area="" asp-page="/Index" style="color:hotpink">&#10086;Takaisin etusivulle</a>
        <br />
            <br />
        </p>
    </div>
</div>