@page
@model PrivacyModel
@{
    ViewData["Title"] = "Hääinfo";
}


<div class="text-center" style="background-color:antiquewhite">
    <div><h1>@ViewData["Title"]</h1></div>
    <div>
        <h3>Sijainti</h3>
        <p>Osoite jne. </p>
        <h3>Muistaminen</h3>
        <p>Meillä tärkeintä on, että tulette juhlimaan kanssamme tärkeää päiväämme. Jos kuitenkin haluatte muuistaa meitä jotenkin, toivomme muistamisianne häämatkatilillemme (xxxxxxx xxxxxx).</p>
        <h3>Majoitus</h3>
        <p>Koodilla PROHEINIJAJARI häävieraat saavat Hotel Kämpin huoneista -15% päivän hinnasta. (4.-6.8.2023)</p>
        <h3>Pukukoodi</h3>
        <p>Tummapuku</p>
        <h3>Ilmoittautuminen</h3>
        <p>RSVP: 30.6.2023</p>
        <p><a href="https://forms.office.com/r/DamLUUGV3C">Ilmoittauminen</a></p>
        <h3>PS</h3>
        <p>Juhlimme aikuisten kesken.</p>
    </div>

</div>
